/*
## Colors

### Primary

- 
- 

### Neutral

- 

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to 
- 

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-image: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}